@import './hamburger.css';

header {
    display: flex;
    flex-direction: column;
    justify-content: center;

    /* prevent divs to overflow header on hover effect */
    z-index: 1;
}

.nav {
    position: fixed;
    left: 0px;
    top: 0px;

    background-color: var(--nav-bg-color);
    height: 150px;
    width: 100%;

    box-shadow: 0 0 7px 3px var(--nav-shadow-color);
}

.nav, .logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: all 0.4s ease 0s;
}

.navlink {
    margin: 5px 25px;
}

@media screen and (max-width: 400px) {
    .nav, .logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 0.4s ease 0s;
    }
}

@media screen and (min-width: 880px) {

    .nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        height: 100px;
        transition: all 0.4s ease 0s;        
    }

    .nav, .logo {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        transition: all 0.4s ease 0s;
    }

    .expand-div {
        display: none;
    }

    .navlink {
        margin: 5px 25px;
    }
}