.form-container {
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signin-form {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 30px;
}

.signin-submit {
    background-color: var(--button-add-color);
    color: var(--button-color-dark) !important;
}

.signin-submit:hover {
    background-color: var(--button-add-color-hover);
    color: var(--button-color-light) !important;
}

.link {
    font-weight: 400 !important;
}
